*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: black;
    color: white;
}


#timer{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    margin: 40px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 81, 255);
    color: white;
}

  button:active {
     animation: bounce 0.3s;
  }
  @keyframes bounce {
     0% {
          transform: scale(1);
        }
        25% {
          transform: scale(0.95);
        }
        50% {
          transform: scale(1.1);
        }
        75% {
          transform: scale(0.98);
        }
        100% {
          transform: scale(1);
        }
  }